
body{
    color:#ffff;
    font-family: 'Inter', sans-serif;
    
      
}
.container{
    background-color: #1F2937;
    border-radius: 7px;
    padding: 15px;
    text-align:start;
    width:90%;
    height:400px;
    
   
}
#wrapper{
    margin: 0 auto;
    width:90%;
    height:400px;
    display:flex;
    align-items: start;
    justify-content: center;
    
}

h1{ 
    font-family: 'Karla', sans-serif;
    font-family: 'Questrial', sans-serif;
    font-weight: bolder;
    letter-spacing: 1.5px;
    margin-bottom:0;
}
h5{
    color:#D5D4D8;
    font-weight: normal;
    margin-top:10px;
    margin-bottom:30px;
    

}
.genBtn{
    background-color:#10B981;
    border: none;
    border-radius: 5px;
    padding: 9px 17px;
    font-family: inherit;
    font-weight: 600;
    letter-spacing: 1px;
    text-shadow: -1px 1px 3px #000;
    color:#FFFFFF; 
    margin-bottom: 10px;
}
.genBtn:hover{
    border: 1px solid snow;

}

.input::placeholder{
    color: #000;
    font-family:'Inter', sans-serif;
    font-size: 15px;
    font-weight:0;
}

.input{
    background-color:#D5D4D8;
    color: #000;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    font-weight:400;
    font-size: 18px;
    width: 135px;
    border: none;
    border-radius: 5px;
    line-height: 38px;
    text-align: center;
    padding: 0 10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.input:hover{
    border: 2px solid #10B981;

}


.input:focus{
    border: 2px solid #10B981;
    outline: none;
    /* background-color:#10B981;
    color: #FFFFFF;
     */
}



.errorMessage{
    color: rgb(247, 0, 0);
    font-size: 15px;
}

.line{
    height: 1px;
    background-color: #2F3E53;
    margin: 10px 10px;
}

span{
    color: #4ADF86;
    

}

.psw-elOne, .psw-elTwo {
    background-color:#273549;
    width: 200px;
    height: 30px;
    color: #55F991;
    border-radius: 5px;
    padding: 3px 10px;
    text-align:center;
    line-height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Inter', sans-serif;
    margin-top: 0px
    
}

.passwordDisplay{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 60px;
    
}


@media only screen and (min-width: 768px) {
    #wrapper{
        height:30vh;

        
    }

    .container{
        padding: 30px;
        text-align:start;
        border-radius: 10px;
        width:80%;
        height:45vh;
        
       
    }

    h5{
        font-size: 20px;
        margin-bottom:40px;
    }
    .genBtn{
       font-size: 20px;
    }

    .input{
        margin-left:15px;
        
        
    }

    .line{
        margin-bottom: 30px;
    }
    

    
    .passwordDisplay{
        display: flex;
        flex-direction: row;
        justify-content: start;
        width: 100%;
        height: 60px;
        margin-top: -25px
    }

    .psw-elOne, .psw-elTwo {
        margin: 10px 20px 0 0;
    }


    
}

@media only screen and (min-width: 1024px) {
    #wrapper{
        width:60%;
        height:30vh;
    }
 
    .container{
        height:50vh;  
      
    }
        .psw-elOne, .psw-elTwo {
        display: inline;
        margin-right:40px;
        font-size: 20px;
       
        
    }
    
    
   
    
}

@media only screen and (min-width: 1440px) {
    #wrapper{
        width:60%;
        height:80vh;
    }

    .container{
        width:70%;
        height:60vh;
    }

    h1{ 
        font-size:50px;
    }
    h5{
        font-size: 25px;
    }
    .genBtn{
        font-size: 30px;
    }

    .psw-elOne, .psw-elTwo {
        font-size: 25px;
        margin-right: 50px; 
        width: 200px;
       }
    
}


